$arroganceColor: #cc2200;
$swagColor: #00ccaa;
$backgroundColor: #fff;

body {
  font-family: sans-serif;
  background-color: $backgroundColor;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.submit-link {
  font-size: 24px;
  float: right;
}

.image-container {
  position: relative;
  width: 605px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vote-form {
  width: 100%;

  input[type="radio"] {
    position:   absolute;
    visibility: hidden;
  }
}

.vote-form-fields {
  width: 100%;
  border-collapse: collapse;
}

%vote-form-fieldset {
  font-weight: bold;
  width: 300px;
  margin: 0px;
  border: none;
  padding: 0px;
  display: inline;
  color: white;

  label {
    float: left;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 75px;
    line-height: 175%;
    font-weight: bold;
    font-size: 32px;
  }

  legend {
    font-size: 24px;
    width: 300px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5em;
    background-color: white;
  }

  td {
    height: 50px;
    padding: 0px;
  }
}

.vote-form-arrogance {
  @extend %vote-form-fieldset;

  background-color: #cc2200;
  float:left;

  legend {
    color: #cc2200;
  }

  label {
    &:hover {
      color: white;
      background-color: black;
    }
  }
}

.vote-form-swag {
  @extend %vote-form-fieldset;

  float:right;

  background-color: $swagColor;

  legend {
    color: $swagColor;
  }

  label {

    &:hover {
      color: black;
      background-color: white;
    }
  }
}

.image-container img {
  width: 100%;
  margin-top: 4px;
}

%last-vote-title {
  font-size: 32px;
  text-transform: uppercase;
  position: absolute;
  font-weight: bold;
  text-align: center;
  height: 1em;
  display: none;

  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;

  -ms-transform:rotate(-45deg); /* IE 9 */
  -webkit-transform:rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);

  animation-duration: 0.1s;
  animation-name: slidein;
  animation-timing-function: linear;

  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: slidein;
  -webkit-animation-timing-function: linear;

  -moz-animation-duration: 0.1s;
  -moz-animation-name: slidein;
  -moz-animation-timing-function: linear;
}

.last-vote-container {
  position: relative;
  width: 200px;
}

.last-vote {
  float: right;
  position: absolute;

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}


@-webkit-keyframes slidein {
  from {
    -webkit-transform: rotate(-45deg) scale(3);
  }

  to {
    -webkit-transform: rotate(-45deg) scale(1);
  }
}


@-moz-keyframes slidein {
  from {
    transform: rotate(-45deg) scale(3);
  }

  to {
    transform: rotate(-45deg) scale(1);
  }
}




@keyframes slidein {
  from {
    transform: rotate(-45deg) scale(3);
  }

  to {
    transform: rotate(-45deg) scale(1);
  }
}


.last-vote-image {
  width: 100%;
  padding: 20px 0;
}

.last-vote-arrogant {
  @extend %last-vote-title;

  font-size: 34px;

  color: $arroganceColor;
}

.last-vote-swag {
  @extend %last-vote-title;

  font-size: 62px;

  color: $swagColor;
}


.last-vote-both {
  @extend %last-vote-title;

  font-size: 62px;

  color: black;

  -webkit-text-stroke: 1px white;
}

%last-vote-mini {
  text-transform: uppercase;
  font-weight: bold;
}

.last-vote-swag-mini {
  @extend %last-vote-mini;

  color: $swagColor;
}

.last-vote-arrogant-mini {
  @extend %last-vote-mini;

  color: $arroganceColor;
}